.experience {
    height: 60vh;
    /* margin-top: 5rem; */
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.achievment {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 4rem;
    height: 4rem;
    /* background: white; */
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin-bottom: 2rem;
    color: rgb(205, 26, 26);


}

.circle::before {
    border-radius: 50%;
    content: "";
    background-image: linear-gradient(to bottom, #e09419, #ebf5f7, #4bec10);
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
}

.achievment :nth-child(2) {
    font-size: 1.4rem;
    font-weight: 400;
    color: black;
}

.achievment :nth-child(3) {
    font-size: 2rem;
    color: var(--orange);
    font-weight: bold;
}

/* @media screen and (max-width: 348px){
    .experience{
        margin-top: 8rem;
    }

} */

@media screen and (max-width: 480px) {
    .experience {
        height: 10rem;
        gap: .4rem;
        margin-top: 5rem;
        align-items: center;
        justify-content: center;

    }

    .circle{
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
    }

    .achievment :nth-child(2) {
        font-size: 1rem;
        font-weight: 400;
        color: black;
    }
    
    .achievment :nth-child(3) {
        font-size: 1.2rem;
        color: var(--orange);
        font-weight: bold;
    }
    


}